body {
	background-color: gray;
}

header {
	height: 100px;
}

header a {
	line-height: 30px;
}

.social {
	font-size: 32px;
}

.bom {
	font-size: 48px;
}


.container {
	background-color: white;
}

.half-width {
	width: 45%;
	float: left;
}
.colon-width {
	width: 9%;
	float: left;
}

.half-width input {
	width: 100%;
}

.start_buttons, .mini_button_menu {
	width: 600px;
	text-align: center;
}

.items_table .num-width {
	width: 130px;
}

/*.upload-file-container input {
   filter: alpha(opacity=0);
   opacity: 0;
}*/